{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/account_style.css">
{% endblock head %}

{% block content %}
    <div class="content">
        <div class="form">
            <h1>Edit User Info</h1>
            <form method="post" enctype="multipart/form-data">
                <div class="form-item">
                    <label for="avatar">
                        {{user.get_avatar(class='avatar')}}
                        {{ form.avatar(style='display: none;') }}
                    </label>
                </div>
                {% for field in form if field != 'avatar' %}
                    <div class="form-item">
                        {{ field() }}
                        {% for error in field.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </form>
            {% if error %}
            <div class="error"> {{error}} </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}