<div class="post-images">
    {% for file in container.displayable_files() %}
        {# {% if loop.index0 % 3 == 0 %}
            <div class="row">{{ file.render()}}
        {% elif loop.index0 % 3 == 2 %}
            {{ file.render()}}</div>
        {% else%}
            {{ file.render()}}
        {% endif %}   #}
        {{ file.render(class='zoomable') }}
    {% endfor %}
</div>