<div class="chat-preview">
    {{chat.avatar_render()}}
    <a href="active_chat/{{ chat.id }}" style="text-decoration: none; color: white;">
    <div class="chat-preview-info">
        <span class="chat-preview-title">{{chat.name}}</span><br>
        <span class="chat-preview-last-message">
        {{ chat.render_last_message()}} 
        </span>
    </div>
    </a>
    <div class="interface">
    <div>
        <a href="/leave_chat/{{chat.id}}"><i class="bi bi-escape"></i></a>
    </div>
    {% if chat.creator == current_user %}
    <div>
        <a href="/delete_chat/{{chat.id}}"><i class="bi bi-trash"></i></a>
        <a href="/chat/{{chat.id}}"><i class="bi bi-pencil-fill"></i></a>
    </div>
    {% endif %}
    </div>
</div>