<div class="chat">
    <div class="dialog" id="dialog">
    {% for message in chat.messages %}
        {{ message.render() }}
    {% endfor %}
    </div> 
    <script>
        var objDiv = document.getElementById("dialog");
        objDiv.scrollTop = objDiv.scrollHeight;
    </script>
    <form class="input" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.text() }}
        <script>
            function getFile() {
                document.getElementById("upfile").click();
            }
        </script>
        {# <button onclick="getFile()">
            <i class="bi bi-paperclip"></i>
        </button> #}
        {{ form.files(id='upfile') }}
        <button type="submit">
            <i class="bi bi-send"></i>
        </button>
    </form>

</div>