{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/login_style.css') }}>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="form">
            <h1>Login</h1>
            <form method="post" novalidate>
                {% for field in form if field != 'csrf_token' %}
                    <div class="form-item">
                        {{ field() }}
                        {% for error in field.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}