<div class="post">
    <div class="post-info">
        {{ post.user.get_avatar()}}
        <span class="user-name">{{ post.user.full_name }}</span>
    </div>
    <div class="post-content">
        {% if post.is_text %}
            <span style="margin-left: 20px;">{{ post.text }}</span>
        {% endif %}
        {% if post.is_file %}
            {{ post.file_container.render() }}
        {% endif %}
    </div>
    <div class="post-interface">
        <a href="/like/{{post.id}}" style="float: left;"><i class="bi bi-heart"></i> {{post.likes|length}}</a>
        <a href="/comments_chat/{{post.chat_id}}"  style="float: right;"><i class="bi bi-chat-left"></i></a>
    </div>
</div>