{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" href={{ url_for("static", filename="css/user_page_style.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename='css/side_menu_style.css') }}>
{% endblock %}


{% block content %}
    <div class="side-menu">
        <ul>
            <li><a href="/">Main page</a></li>
            <li><a href="/user/{{user.id}}">My page</a></li>
            <li><a href="/messanger">Messanger</a></li>
            <li><a href="/friends">Friends</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="user-info">
            {{ user.get_avatar(class='avatar')}}
            <span class="user-name">{{ user.full_name }}</span>
        </div>
        {{ user.get_map(class='map') }}
        {% if current_user == user %}
        <div class="interface">
        <span style="width: 100%">
            <a href="/account"><i class="bi bi-pencil-fill"></i></a>
            <a href="/create_post"><i class="bi bi-plus-circle"></i></a>
        </span>
        </div>
        {% endif %}
        
        <div class="wall">
            {% for post in user.posts | sort(attribute='date_time', reverse=True)%}
                {{ post.render() }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
